header {
  height: 60px;
  background-color: #000046;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
}

.header-logo {
  height: 40px; 
  margin-right: 15px;
}